/* _blog.scss */

.blog .wrapper{
	max-width: 50em;
}

.blog .top{
	overflow: hidden;
	padding: 1.5em 2.5em;
	
	background: #282828;
	
	@include animateIn(bottom);
}

.blog .top .title{
	margin-bottom: .25em;
	
	font-size: 4em;
	color: $roseWhite;
}

.blog .top .meta{
	float: left;

	font-size: 1.5em;
	font-style: normal;
	color: $roseRed;

	cursor: help;
}

.blog .top small{
	font-size: 1em;
	float: right;
	color: darken($roseWhite, 10%);
}

.blog .post{
	padding: 1.5em 0;

	@include animateIn(fade);
}

.blog .post .wrapper > p:first-child{
	line-height: 1.5;
	font-weight: 400;
	font-size: 1.5em;
	color: darken($roseWhite, 50%);
}

.blog .post a{
	// lovely underline style inspired by: https://medium.com/coding-design/2669cd13b5a7

	color: $roseGreen;

	background-image: linear-gradient(to bottom, #fff 50%, lighten(desaturate($roseGreen, 33.33%), 33.33%) 50%);
	background-repeat: repeat-x;
	background-size: 2px 2px;
	background-position: 0 1.2em;

	text-shadow: 1px 0 0 $bg-color, 1px 0 0 $bg-color, 2px 0 0 $bg-color, -2px 0 0 $bg-color;
}

@media (max-width: $breakPointLarge){
	.blog .post a{ background-position: 0 1.1em; }
}

.blog .post a:hover{
	background-size: 0;
}

.blog .post blockquote cite a{
	color: inherit;

	background-size: 0 0;
}

.blog .post img{
	display: block;
	max-width: 100%;
	margin: .5em auto;
}

.blog .post .emoji{
	display: inline-block;
	max-width: 28px;
	max-height: 28px;
	margin-bottom: -.25em;
}

.blog .notes{
	overflow: hidden;
	padding: .5em;
	
	border-top: 2px solid darken($roseWhite, 10%);
}

.blog .notes h1{
	margin: .25em 0;
	
	font-size: 2.5em;
	font-style: normal;
	color: $roseGreen;
}

.blog .notes p{
	float: left;
	width: 85%;
	padding-right: 1em;

	font-size: 1.15em;
}

.blog .notes .gravatar{
	float: right;
	overflow: hidden;
	width: 10%;
	margin: 1em;
	border-radius: 10px;

	transition: all .25s;
	transform: rotate(45deg);
	filter: grayscale(1);
}

.blog .notes .gravatar:hover{
	transform: rotate(0);
	filter: grayscale(0);
}

.blog .notes .gravatar img{
	display: block;
	width: 100%;
	height: 100%;

	transition: transform .25s;
	transform: scale(1.5) rotate(-45deg);
}

.blog .notes .gravatar:hover img{ transform: scale(1) rotate(0); }

@media all and (max-width: $breakPointMedium){

	.blog .top{
		padding: 1em;
	}

}