/* _blog.scss */

.blog .top{
	padding: 1.5em 2.5em;
	
	background: #282828;
	
	@include animateIn(bottom);
}

.blog .post{
	max-width: 45em;
	margin: 0 auto;
	padding: 1.5em 0;

	@include animateIn(fade);
}

.blog h1, .blog h2,
.blog h3, .blog h4,
.blog h5, .blog h6,
.blog p{
	margin-bottom: 1em;
}

.blog h1,
.blog h2,
.blog h3{
	font-weight: 400;
	font-family: $serif;
}

.blog h1,
.blog h2{
	font-style: italic;
}

.blog h1{
	font-size: 3em;
	color: $roseBlack;
}

.blog h2{
	font-size: 2.5em;
	color: lighten($roseBlack, 2.5%);
}

.blog h3{
	font-size: 2em;
	color: lighten($roseBlack, 5%);
}

.blog h4,
.blog h5,
.blog h6{
	text-transform: uppercase;
}

.blog h4{
	font-weight: 700;
	font-size: 1.5em;
	color: lighten($roseBlack, 7.5%);
}

.blog h5{ 
	font-weight: 600;
	font-size: 1.25em;
	color: lighten($roseBlack, 10%);
}

.blog h6{
	font-weight: 500;
	font-size: .9em;
	color: lighten($roseBlack, 12.5%);
}

.blog p{	
	font-size: 1.45em;
	font-weight: 300;
	line-height: 1.45;
}

.blog a{
	font-weight: 500;
	
	color: $roseBlack;
	text-decoration: none;

	// lovely underline style from: https://medium.com/coding-design/2669cd13b5a7

	background-image: linear-gradient(to bottom, #fff 50%, lighten($roseBlack, 15%) 50%);
	background-repeat: repeat-x;
	background-size: 2px 2px;
	background-position: 0 1.1em;
	
	transition: opacity .15s;
}

.blog a:hover{
	opacity: .9;
}

.blog em{
	font-style: italic;
}

.blog strong{
	font-weight: bolder;
}

.blog hr{
	margin: 1.5em 0;

	border: 0;
	border-top: 2px solid lighten($roseBlack, 75%);
}

.blog ol:first-of-type,
.blog ul:first-of-type{
	margin: .5em 0;
}

.blog ol ol,
.blog ol li,
.blog li li,
.blog li ol{
	margin-left: 1em;
}

.blog li{
	margin-bottom: .5em;

	list-style: none;
	font-size: 1.25rem;
	font-family: $serif;
	font-weight: 400;
	color: lighten($roseBlack, 15%);
}

.blog li::before{
	float: left;
	margin: .25em 0;
	margin-right: .5em;
	
	line-height: 1em;
	font-size: .7em;
	color: lighten($roseBlack, 50%);
}

.blog ul li::before{
	content: '✿';
}

.blog ol{ counter-reset: section; }		
.blog ol li{ counter-increment: section; }
.blog ol li::before{ content: counters(section, '.') '.'; }

.blog blockquote{
	margin: 1.5em 1em;
	padding: 0 .75em;
	
	font-size: 1.35em;
	font-style: italic;
	
	border-left: 2px solid lighten($roseBlack, 50%);
}

.blog q{
	font-style: italic;
	quotes: "“" "”" "‘" "’";
}

.blog q::before,
.blog q::after{
	vertical-align: -.3em;
	margin: 0 2px;
	line-height: 0;

	font-size: 1.25em;
	font-style: normal;
	font-family: "Crete Round",Georgia,serif;
	color: #4e4e4e;
}

.blog q::before{ content: open-quote; }
.blog q::after{ content: close-quote; }

.blog cite::before{
	content: '— ';
}

.blog cite a{ background: none; }


.blog small{
	font-variant: small-caps;
	font-size: .85em;
	font-family: $sans-serif;
	text-transform: lowercase;
}

$markColour: transparentize(invert($roseRed), .85);

.blog mark{
	padding: 1px 0;
	position: relative;
	
	background: $markColour;
	color: lighten($roseBlack, 5%);
}

.blog mark::after,
.blog mark::before{
	position: absolute;
	content: '';

	border: 10px solid transparent;
	
}

.blog mark::before{
	left: -15px;
	
	border-bottom-color: $markColour;
	border-top-width: 20px;
	border-left-width: 5px;
	border-right-color: $markColour;
}

.blog mark::after{
	border-top-color: $markColour;
	border-left-color: $markColour;
	border-bottom-width: 20px;
	border-right-width: 5px;
}

.blog sup,
.blog sub{
	font-size: .7em;
}

.blog sup{
	vertical-align: super;
}

.blog sub{
	vertical-align: sub;
}

.blog .title{
	margin-bottom: .25em;
	
	font-size: 3.5em;
	color: $roseWhite;
}

.blog .lead{
	line-height: 1.5;
	font-weight: 400;
	font-size: 1.5em;
	color: darken($roseWhite, 50%);
}

.blog .meta{
	display: inline-block;

	font-size: 1.5em;
	font-style: normal;
	color: $roseRed;

	cursor: help;
}

.blog .meta small{ color: darken($roseWhite, 10%); }

.blog .gravatar{
	border-radius: 50%;
}

.blog .post img{
	display: block;
	max-width: 100%;
	margin: .5em auto;
}

.blog .notes{
	overflow: hidden;
	padding: .5em;
	
	border-top: 2px solid darken($roseWhite, 10%);
}

.blog .notes h1{
	float: left;
	margin: .15em 0;
	
	font-size: 2.5em;
	font-style: normal;
	color: $roseRed;
}

.blog .notes .gravatar{
	float: right;
}

@media all and (max-width: $breakPointLarge){

	.blog .post{
		font-size: .9em;
	}

}

@media all and (max-width: $breakPointMedium){

	.blog .top{
		padding: 1em;
	}

	.blog .post{
		font-size: .85em;
	}

}

@media all and (max-width: $breakPointSmall){

	.blog .post{
		font-size: .8em;
	}

}