/* _footer.scss */

footer{
	padding: 1.25em;

	font-size: .75em;
	font-weight: 300;
	color: lighten($roseBlack, 10%);
	text-align: right;
}

footer .details,
footer > nav{
	display: inline-block;
	padding: .5em 0;
	width: 100%;
}

footer .details:first-of-type::before{
	display: inline-block;
	content: '✿';
	margin-right: .35em;
}

footer .details a{
	color: inherit;
	font-weight: 600;
	text-decoration: none;
	
	border-bottom: 1px solid transparent;

	transition: border-color .15s;
}

footer .details a:hover{
	border-color: lighten($roseBlack, 25%);
}

footer > nav li{
	display: inline-block;
	float: none;
	width: auto;
	margin-left: 1em;
	font-size: 1em;
}

footer > nav li a{
	padding: 0;
	
	font-size: 1em;
	color: lighten($roseBlack, 10%);
	text-align: right;

	animation: none;
}

footer > nav li a:hover{
	color: $roseRed;
}