/* _footer.scss */

footer{
	padding: 1.25em;

	font-size: .75em;
	font-weight: 300;
	color: lighten($roseBlack, 10%);
	text-align: right;
}

footer .details,
footer nav{
	display: inline-block;
	padding: .5em 0;
	width: 100%;
}

footer .details:first-child::before{
	display: inline-block;
	content: '✿';
	margin-right: .35em;
}

footer .details a{
	color: inherit;
	font-weight: 600;
	text-decoration: none;
	
	border-bottom: 1px solid transparent;

	transition: border-color .15s;
}

footer .details a:hover{
	border-color: lighten($roseBlack, 25%);
}

footer .links li{
	display: inline;
}

footer .links li::after{
	content: '•';
	margin-left: .75em;
	margin-right: .5em;
}

footer .links li:last-child::after{
	display: none;
	content: '';
}

footer nav li{
	display: inline-block;
	margin-left: 1em;
	font-size: 1em;
}

footer nav li a{	
	font-size: 1em;
	color: lighten($roseBlack, 10%);
	text-align: right;
}

footer nav li a:hover{
	color: $roseRed;
}

footer .cc{
	width: 70%;
	line-height: 1.5em;
	
	font-size: .85em;
	color: lighten($roseBlack, 25%);
}

footer .cc a{ font-weight: 300; }

footer .cc .license-icons{
	margin-left: .5em;
	opacity: .75;
	border: none;
}

footer .cc .license-icons:hover{
	opacity: .8;
}

footer .cc .license-icons img{
	width: 1.25em;
	height: 1.25em;
}


@media (max-width: $breakPointSmall){

	footer nav,
	footer .links li{
		text-align: center;
	}

	footer nav li{
		font-size: .75em;
	}

}
