/* _header.scss */

header{
	z-index: 1337;
	position: fixed;
	top: 0; right: 0; left: 0;
	overflow: hidden;
	padding: .75em 1rem;
	
	background-color: $roseWhite; 
	background-color: transparentize(white, .05);
	color: $roseWhite;
}

header .logo{
	float: left;
	width: 50%;
}

header nav{
	float: left;
	width: 50%;
}

@import 'logo';
@import 'nav';