/* _header.scss */

header{
	z-index: 1337;
	position: fixed;
	top: 0; right: 0; left: 0;
	overflow: hidden;
	padding: .75em 1rem;
	
	background-color: $roseWhite; 
	background-color: transparentize(white, .05);
	color: $roseWhite;
}

header .logo{
	float: left;
	width: 50%;
}

header nav{
	float: left;
	width: 50%;
}

header nav li{
	float: left;
	width: (100%/$navLinkAmount);
	
	color: $roseRed;
	text-align: center;
}

header nav li.menu-link{
	display: none;
	width: 100%;
}

header nav li a{
	padding: 1.5em 0;
	animation: navLinkIn 1.5s;
}

header nav li a:hover{
	color: $roseBlack;
}

@keyframes navLinkIn{
	0%, 70%{ opacity: 0; }
}

@media screen and (max-width: $breakPointMedium){
	header{
		padding: .25em 1rem;
	}
}

@media screen and (max-width: $breakPointSmall){
	header .logo{
		width: 100%;
	}
}