/* _header.scss */

header{
	z-index: 1337;
	overflow: hidden;
	padding: .75em 0;
	position: absolute;
	top: 0; right: 1rem; left: 1rem;
	
	background-color: $roseWhite; 
	background-color: transparentize(white, .05);
	color: $roseWhite;

	transform: translateY(0%);
}

@media (max-width: $breakPointMedium){
	header{
		right: .75rem; left: .75rem;
	}
}

header.header--not-top{
	transition: transform .15s;
}

header.header--unpinned{
	transform: translateY(-100%);
}

header.header--not-top.header--pinned{
	position: fixed;
}

header .logo{
	float: left;
	width: 50%;
}

header nav{
	float: left;
	width: 50%;
}

header nav li{
	float: left;
	width: (100%/$navLinkAmount);
	
	color: $roseRed;
	text-align: center;
}

header nav li.menu-link{
	display: none;
	width: 100%;
}

header nav li.menu-link a{
	float: right;
	padding: .75em;
	width: 50%;
	margin: 1em auto;
	
	border: 1px solid;
	border-radius: 5px;
}

header nav li a{
	padding: 1.5em 0;
	@include animateIn(fade);
}

header nav li a:hover{
	color: $roseBlack;
}

@media screen and (max-width: $breakPointMedium){
	
	header{ padding: 0; }

}

@media screen and (max-width: $breakPointSmall){
	
	header nav li.menu-link{ display: block; }

}

@import 'logo';
@import 'nav';