/* _home.scss */

.home section{
	overflow: hidden;
	position: relative;
	height: 100vh;
	padding: 5em 1.5em;
	width: 100%;

	font-size: .9em;
}

.home section:nth-child(even){
	text-align: right;
}

.home section:nth-child(3n+1){
	color: $roseWhite;
	background-color: $roseRed;
}

.home section:nth-child(3n+1) *::selection{
	background-color: $roseWhite;
	color: $roseRed;
}

.home section:nth-child(3n+2){
	color: $roseWhite;
	background-color: $roseBlack;
}

.home section:nth-child(3n+2) *::selection{
	background-color: $roseWhite;
	color: $roseBlack;
}

.home section:nth-child(3n+3){
	color: $roseBlack;
	background-color: $roseWhite;
}

.home section:nth-child(3n+3) *::selection{
	background-color: $roseBlack;
	color: $roseWhite;
}

.home section#intro{
	background-image: url('../../img/poly-rose.png');
	background-repeat: no-repeat;
	background-position: 125% 500%;

	animation: introIn $animationSpeed;
}

@keyframes introIn{
	0%{
		background-image: none;
		background-position: 125% 0%;
	}
}

.home section h1,
.home section .text{
	@include animateIn(left);
	backface-visibility: hidden; // stops the animation white flash
}

.home section:nth-child(even) h1,
.home section:nth-child(even) .text{
	@include animateIn(right);
}

.home section:nth-child(even) h1{
	text-align: right;
}

.home section h1,
.home section h2{
	color: inherit;
}

.home section h1{
	margin-bottom: .5em;

	font-size: 7em;

	letter-spacing: -.025em;
}

.home section h2{
	margin-bottom: .25em;

	font-size: 2.25em;
	font-weight: 600;
	font-family: $sans-serif;
	
	text-transform: uppercase;
}

.home section .text{
	width: (100% * 2/3);
	font-size: 1.5em;
}

.home section .text p{
	line-height: 1.35;
}

.home section  .text p strike{
	position: relative;
	text-decoration: none;
}

.home section  .text p strike::after{
	position: absolute;
	left: -5%; top: 50%;
	width: 110%;
	content: '';

	border-bottom: 2px solid $roseWhite;
	transform: rotate(-2.5deg);
}

.home section:nth-child(odd)  .text{ float: left; }
.home section:nth-child(even) .text{ float: right; }

.home section .text a{
	font-weight: 400;
	
	border-bottom: 1px solid;
	color: inherit;
	
	transition: border-color .15s;
}

.home section .text a:hover{
	border-color: transparent;
}

.home section .move-link{
	position: absolute;
	bottom: 15%;
	padding: .25em;
	
	font-family: "Crete Round",Georgia,serif;
	font-size: 2.25em;
	color: inherit;
	
	border-bottom: 2px solid;
	border-radius: 2px;

	@include animateIn(top);
	transition: border-color .15s;
}

.home section .move-link:hover{
	border-color: transparent;
}

.home section:nth-child(odd)  .move-link{ right: 5%; }
.home section:nth-child(even) .move-link{ left: 5%; }

.home .latest-post{
	position: absolute;
	right: 0; bottom: 0; left: 0;
	background: $roseBlack;
}

.home .latest-post a{
	display: block;
	padding: 1.5em;
}

.home .latest-post a:hover{ opacity: .8; }

.home .latest-post h1{
	margin: 0;

	font-size: 2.5em;
	font-weight: 300;
	font-style: normal;
	font-family: $sans-serif;
	color: $roseWhite;
	text-align: center;
}

.home .latest-post q{
	font-family: $serif;
}

.home .latest-post q::before,
.home .latest-post q::after{
	font-size: 1.5em;
}

@media (max-width: $breakPointExtraLarge){
	
	.home{ font-size: .8em; }
	
}

@media (max-width: $breakPointLarge){
	
	.home{ font-size: .7em; }

}

@media (max-width: $breakPointMedium){
	
	.home{ font-size: .6em; }

	.home section .move-link{
		bottom: 5%;
	}

	.home .latest-post q{
		display: block;
		margin-top: .25em;
	}

}

@media (max-width: $breakPointSmall){
	
	.home{ font-size: .55em; }

	.home section#intro{
		background-position: 50% -100%;
	}

	.home section h1,
	.home section:nth-child(2n) h1,
	.home section .text p,
	.home section .move-link{
		text-align: center;
	}

	.home section .text{
		width: 100%;
		float: none;
	}

	.home section .move-link{
		right: 5%; left: 5%;
	}

}
