/* _logo.scss */

.logo{
	font-family: Quicksand;
	font-weight: 400;
	font-size: 2.5rem;

	color: $roseBlack;

	backface-visibility: hidden;
	transform-origin: center;
	animation: logoFadeIn 1s;

	user-select: none;

	transition: opacity .15s;
}

.logo:hover{ opacity: .8; }

.logo--image{
	width: 150px;
	height: 50px;
	margin: 0 auto;

	text-indent: -9999px;
	
	background: no-repeat center;
	background-size: 100%;
}

.logo--image--svg{
	background-image: url('../../img/default.svg');
}

.logo--image--png{
	background-image: url('../../img/default.png');
}

@keyframes logoFadeIn{
	0%{
		transform: translateY(-25%);
		opacity: 0;
	}
}

.logo .petals{
	position: relative;
	display: inline-block;
	width: 2.25rem;
	height: 2.15rem;
}

.logo .petals li{
	position: absolute;
	height: 1.75rem;
	width: 1.75rem;
	line-height: .5rem;
	border: 2px solid $roseRed;
	border-radius: 50%;
	transform: translateY(0);
}

.logo .petals li:nth-child(1){
	animation: petal-one 1.25s .5s 1;
	transform: translateX(.5rem) translateY(0rem);
}

.logo:hover .petals li:nth-child(1){
	animation: petal-one 1.25s;
}

.logo .petals li:nth-child(2){
	animation: petal-two 1.25s .5s 1;
	transform: translateX(0rem) translateY(0.25rem);
}

.logo:hover .petals li:nth-child(2){
	animation: petal-two 1.25s;
}

.logo .petals li:nth-child(3){
	animation: petal-three 1.25s .5s 1;
	transform: translateX(.5rem) translateY(.5rem);
}

.logo:hover .petals li:nth-child(3){
	animation: petal-three 1.25s;
}

@keyframes petal-one{
	50%{ transform: translateX(0rem) translateY(0.25rem); }
}

@keyframes petal-two{
	50%{ transform: translateX(.5rem) translateY(.5rem); }
}

@keyframes petal-three{
	50%{ transform: translateX(.5rem) translateY(0rem); }
}