/* _main.scss */

*::after::selection,
*::before::selection,
*::selection{
	background: transparentize($roseRed, .1);
	color: $roseWhite;
}

body{
	padding: 0 1rem;
	
	font-family: $sans-serif;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	
	background: $roseWhite;
	color: $roseBlack;
}

@media (max-width: $breakPointMedium){

	body{ padding: 0 .75rem; }

}

.wrapper{
	max-width: 1400px;
	margin: 0 auto;
}

main{
	position: relative;
	overflow: hidden;
}

main .page .wrapper{
	max-width: 50em;
}

main .page-title{	
	font-size: 4em;
	font-style: normal;
	color: $roseRed;

	@include animateIn(fade);
}

@import 'error';

@import 'header';
@import 'logo';
@import 'nav';
@import 'home';
@import 'blog';
@import 'blog-posts';
@import 'footer';