/* _main.scss */

body{
	padding: 0 1rem;
	
	font-family: $sans-serif;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	
	background: $roseWhite;
	color: $roseBlack;
}

@media (max-width: $breakPointMedium){

	body{ padding: 0 .75rem; }

}

.wrapper{
	max-width: 1400px;
	margin: 0 auto;
}

main{ overflow: hidden; }

@import 'error';

@import 'header';
@import 'logo';
@import 'nav';
@import 'home';
@import 'blog';
@import 'footer';