/* _nav.scss */

nav{
	float: left;
	width: 70%;
}

$navLinkAmount: 3;

nav li{
	float: left;
	width: (100%/$navLinkAmount);
	padding: 1em 0;
	
	font-size: .85em;
	font-weight: 500;
	
	letter-spacing: .15em;
	text-transform: uppercase;
}

nav li a{
	padding: .5em 0;
	display: block;
	
	color: $roseRed;
	font: inherit;
	
	text-decoration: none;
	text-align: center;
	
	transition: color .15s;

	transform-origin: center;
	animation: navLinkIn 1.5s;
}

nav li a:hover{
	color: $roseBlack;
}

@keyframes navLinkIn{
	0%, 70%{ opacity: 0; }
}