/* _nav.scss */

$navLinkAmount: 4;

nav li{
	float: left;
	width: (100%/$navLinkAmount);
	
	font-size: .85em;
	font-weight: 500;
	
	color: $roseRed;

	letter-spacing: .15em;
	text-transform: uppercase;
	text-align: right;
}

nav li a{
	display: block;
	padding: 1.5em 0;
	
	color: inherit;
	font: inherit;
	
	text-decoration: none;
	
	transition: color .15s;

	transform-origin: center;
	animation: navLinkIn 1.5s;
}

nav li a:hover{
	color: $roseBlack;
}

nav li.menu-link{
	display: none;
	width: 100%;
}

@keyframes navLinkIn{
	0%, 70%{ opacity: 0; }
}