/* _nav.scss */

nav li{	
	font-size: .85em;
	font-weight: 500;

	letter-spacing: .15em;
	text-transform: uppercase;
}

nav li a{
	display: block;
	
	color: inherit;
	font: inherit;
	
	text-decoration: none;
	
	transition: color .15s;
	transform-origin: center;
}

@media screen and (max-width: $breakPointMedium){

	header nav li a{
		padding: 2em 0;
		font-size: .9em;
	}

}

@media screen and (max-width: $breakPointSmall){

	header nav li{ display: none; }
	
}