/*_typography.scss */

main h1, main h2,
main h3, main h4,
main h5, main h6,
main p{
	margin-bottom: 1em;
}

main h1,
main h2,
main h3{
	font-weight: 400;
	font-family: $serif;
}

main h1,
main h2{
	font-style: italic;
}

main h1{
	font-size: 3em;
}

main h2{
	font-size: 2.5em;
	color: lighten($roseBlack, 2.5%);
}

main h3{
	font-size: 2em;
	color: lighten($roseBlack, 5%);
}

main h4,
main h5,
main h6{
	text-transform: uppercase;
}

main h4{
	font-weight: 700;
	font-size: 1.5em;
	color: lighten($roseBlack, 7.5%);
}

main h5{ 
	font-weight: 600;
	font-size: 1.25em;
	color: lighten($roseBlack, 10%);
}

main h6{
	font-weight: 500;
	font-size: .9em;
	color: lighten($roseBlack, 12.5%);
}

main p{	
	font-size: 1.35em;
	font-weight: 300;
	line-height: 1.45;
}

main a{
	font-weight: 500;
	
	color: inherit;
	text-decoration: none;
	
	transition: opacity .15s;
}

main a:hover{
	opacity: .9;
}

main em{
	font-style: italic;
}

main strong{
	font-weight: bolder;
}

main hr{
	margin: 1.5em 0;

	border: 0;
	border-top: 2px solid lighten($roseBlack, 75%);
}

main ol, main ul{
	margin-top: .5em;
}

main .wrapper > ol,
main .wrapper > ul{
	margin: 2em 0;
}

main ul ol,main ul ul,
main ol ul, main ol ol{
	margin-left: 1em;
}

main li{
	margin-left: 1em;
	margin-bottom: .5em;

	list-style: none;
	font-size: 1.25rem;
	font-family: $serif;
	font-weight: 400;
	color: lighten($roseBlack, 15%);
}

main li::before{
	float: left;
	margin: .25em 0;
	margin-right: .5em;
	
	line-height: 1em;
	font-size: .7em;
	color: lighten($roseBlack, 50%);
}

main ul li::before{
	content: '✿';
}

main ol{ counter-reset: section; }		
main ol li{ counter-increment: section; }
main ol li::before{ content: counters(section, '.') '.'; }

main blockquote{
	margin: 1.5em 0;
	padding: 0 .75em;
	font-size: 1.35em;

	font-size: 1.35em;
	font-style: italic;
	font-family: $serif;
	text-align: center;
}

main blockquote p{
	font-size: 2em;
	line-height: 1.25em;
	color: lighten(desaturate($roseRed, 25%), 5%);
}

main blockquote cite{
	display: block;

	font-size: .65em;
	color: lighten(desaturate($roseRed, 25%), 5%);
	text-align: right;
}

main q{
	font-style: italic;
	quotes: "“" "”" "‘" "’";
}

main q::before,
main q::after{
	vertical-align: -.3em;
	margin: 0 2px;
	line-height: 0;

	font-size: 1.25em;
	font-style: normal;
	font-family: "Crete Round",Georgia,serif;
	color: #4e4e4e;
}

main q::before{ content: open-quote; }
main q::after{ content: close-quote; }

main cite::before{
	content: '—';

	color: inherit;
}

main cite a{
	color: inherit;
	background: none;
}

main small{
	font-variant: small-caps;
	font-size: .85em;
	font-family: $sans-serif;
	text-transform: lowercase;
}

$markColour: transparentize(invert($roseRed), .3);

main mark{	
	background: $markColour;
	color: $roseBlack;
}

main sup,
main sub{
	font-size: .7em;
}

main sup{
	vertical-align: super;
}

main sub{
	vertical-align: sub;
}

@media all and (max-width: $breakPointLarge){

	main{
		font-size: .9em;
	}

}

@media all and (max-width: $breakPointMedium){

	main{
		font-size: .85em;
	}

}

@media all and (max-width: $breakPointSmall){

	main{
		font-size: .8em;
	}

}
