/* _variables.scss */

// colours

$roseBlack: #282828;
$roseRed: #C43200;
$roseWhite: #FDFDFD;
$roseGreen: #40910B;

$bg-color: $roseWhite;

// media query breakpoints

$breakPointExtraLarge: 1000px;
$breakPointLarge: 800px;
$breakPointMedium: 600px;
$breakPointSmall: 400px;

// nav items

$navLinkAmount: 4;

@import 'fonts';