/* all.scss */

@import 'reset';

@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700|Open+Sans|Crete+Round:400,400italic);

$roseBlack: #282828;
$roseRed: #C43200;
$roseWhite: #FDFDFD;
$roseGreen: #174D1F;

*{ box-sizing: border-box; }

body{
	height: 1000px;
	background: $roseWhite;
	color: $roseBlack;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	padding: 1em;
}

.wrapper{
	width: 90%;
	margin: 0 auto;
}

header{
	z-index: 1337;
	position: fixed;
	top: 0; right: 0; left: 0;
	overflow: hidden;
	background: transparentize(white, .05);
	padding: .75em 1em;
	color: $roseWhite;
}

header .logo{
	float: left;
	width: 30%;
}

header nav{
	float: left;
	width: 70%;
}

header nav li{
	letter-spacing: .15em;
	float: left;
	width: 25%;
	padding: .25em 0;
	font-size: .85em;
	font-weight: 500;
	text-transform: uppercase;
}

header nav li a{
	display: block;
	color: $roseRed;
	font: inherit;
	padding: .5em 0;
	text-decoration: none;
	text-align: right;
	transition: color .15s;
}

header nav li a:hover{
	color: $roseBlack;
}

main{ overflow: hidden; }

main section{
	height: 100vh;
	padding: 16% 0;
}

main section:nth-child(2n){
	text-align: right;
}

main section:nth-child(3n+1){
	color: $roseWhite;
	background: $roseRed;
}

main section:nth-child(3n+2){
	color: $roseBlack;
	background: $roseWhite;
}

main section:nth-child(3n+3){
	color: $roseWhite;
	background: $roseBlack;
}

main section.image{
	background: url('../../img/headertwitterrose.png');
	background-size: cover;
}

main section .wrapper{
	animation: inLeft 1s;
	backface-visibility: hidden;
}

main section:nth-child(2n){
	animation: inRight 1s;
	text-align: right;
}

@keyframes inTop{
	0%{ transform: translateY(15%); opacity: 0; }
}

@keyframes inRight{
	0%{ transform: translateX(5%); opacity: 0; }
}

@keyframes inBottom{
	0%{ transform: translateY(-15%); opacity: 0; }
}

@keyframes inLeft{
	0%{ transform: translateX(-5%); opacity: 0; }
}

main section h1{
	margin-bottom: .5em;

	font-weight: 300;
	font-size: 4em;
	font-style: italic;

	font-family: 'Crete Round', Georgia, serif;

}

main section p{
	font-size: 1.25em;
	font-weight: 300;
	line-height: 1.35;
}

@import 'logo';