/* all.scss */

@import 'reset';

@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700|Open+Sans|Crete+Round:400,400italic);

$roseBlack: #282828;
$roseRed: #C43200;
$roseWhite: #FDFDFD;

body{
	background: $roseWhite;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	background: $roseRed;
}

header{
	padding: 3em 0;
	width: 70%;
	margin: 0 auto;
	color: $roseWhite;
}

header section{
	padding: 1em;
	color: transparentize($roseWhite, .005);

	animation: fadeIn 1s;
}

@keyframes fadeIn{
	0%{
		transform: translateY(25%);
		opacity: 0;
	}
}

header section h1{
	margin-bottom: .5em;

	font-weight: 300;
	font-size: 3.5em;
	// font-style: italic;

	font-family: 'Crete Round';
	// letter-spacing: -5px;

}

header section p{
	font-size: 1.25em;
	font-weight: 300;
	line-height: 1.35;
}

@import 'logo';