/* all.scss */

@import 'reset';

@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700|Open+Sans|Crete+Round:400,400italic);

$roseBlack: #282828;
$roseRed: #C43200;
$roseWhite: #FDFDFD;

body{
	height: 1000px;
	background: $roseWhite;
	color: $roseBlack;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.wrapper{
	width: 80%;
	margin: 0 auto;
}

header{
	z-index: 1337;
	position: fixed;
	top: 0; right: 0; left: 0;
	overflow: hidden;
	background: transparentize(white, .05);
	padding: 1.5em 0;
	color: $roseWhite;
}

header .logo, header nav{
	float: left;
	width: 50%;
}

header nav li{
	letter-spacing: .25em;
	float: left;
	width: 25%;
	font-size: 1em;
	font-weight: 800;
	text-transform: uppercase;
}

header nav li a{
	display: block;
	color: $roseRed;
	font: inherit;
	padding: 2em 1.5em;
	text-decoration: none;
	transition: color .15s;
}

header nav li a:hover{
	color: $roseBlack;
}

main section{	
	background: url('../../img/headertwitterrose.png');
	background-size: cover;
	color: $roseWhite;
	padding: 4em 0;

}

main section .wrapper{
	animation: fadeIn 1s;
}

@keyframes fadeIn{
	0%{
		transform: translateY(25%);
		opacity: 0;
	}
}

main section h1{
	margin-bottom: .5em;

	font-weight: 300;
	font-size: 4em;
	font-style: italic;

	font-family: 'Crete Round', Georgia, serif;

}

main section p{
	font-size: 1.25em;
	font-weight: 300;
	line-height: 1.35;
}

@import 'logo';