<footer>

  <p class="details">ROSE Digital &copy; 2014</p>
  <p class="details"><a href="http://github.com/{{ site.github }}">GitHub</a> | <a href="http://twitter.com/{{ site.twitter}}">Twitter</a> | <a href="https://www.google.co.uk/search?q=good%20joke%20lol">Snapchat</a></p>
  
  <nav>
    <ul>
      <li><a href="{{ root_url }}/">Home</a></li>
      <li><a href="{{ root_url }}/work">Work</a></li>
      <li><a href="{{ root_url }}/about">About</a></li>
      <li><a href="{{ root_url }}/blog">Blog</a></li>
      <li><a href="{{ root_url }}/contact">Contact</a></li>
    </ul>
  </nav>
</footer>