<footer>
<div class="wrapper">

  <p class="details">ROSE Digital &copy; 2014</p>
  <ul class="details links">
      <li><a title="{{ site.data.social.github }}" href="http://github.com/{{ site.data.social.github }}">GitHub</a></li>
      <li><a title="@{{ site.data.social.twitter }}" href="http://twitter.com/{{ site.data.social.twitter }}">Twitter</a></li>
      <li><a title="{{ site.data.social.googleplus }}" href="https://plus.google.com/{{ site.data.social.googleplus }}" rel="publisher">Google+</a></li>
      <li><a title="{{ site.data.social.snapchat }}" href="{{ root_url }}/snapchat">Snapchat</a></li>
    </ul>
  </p>

  <nav>
    <ul>
      <li><a href="{{ root_url }}/">Home</a></li>
      {% include nav.html %}
    </ul>
  </nav>

</div>
</footer>