<form method="post" id="project-planner" class="project-planner">

	<h2>Project Planner</h2>

	<h3>Your details</h3>

	<label for="client-name">Name <span class="required">*</span></label>
	<input class="project-planner__input" type="text" name="client-name" id="client-name"
		   placeholder="Name" required autocomplete="given-name" autofocus/>

   <label for="client-organisation">Organisation</label>
	<input class="project-planner__input" type="text" name="client-organisation" id="client-organisation"
		   placeholder="Name" autocomplete="organization" />

	<h3>Your contact info</h3>

	<label for="client-email">Email <span class="required">*</span></label>
	<input class="project-planner__input" type="email" name="client-email" id="client-email"
		   placeholder="name@example.com" required autocomplete="email" />

	<label for="client-phone">Phone Number</label>
	<input class="project-planner__input" type="tel" name="client-phone" id="client-phone"
		   placeholder="+1-555-555-1212" autocomplete="tel" />

	<h3>Your idea</h3>

	<label for="project-budget">Budget</label>
	<select class="project-planner__input" name="project-budget" id="project-budget">
		<option>&lt; £1k</option>
		<option selected>£1 – £10k</option>
		<option>£10 – £50k</option>
		<option>£50k +</option>
	</select>

	<label for="project-idea">Project Idea <span class="required">*</span></label>
	<textarea class="project-planner__input" name="project-idea" id="project-idea"
			  placeholder="Tell us a bit about your project" required rows="5"></textarea>

	<button class="project-planner__submit" type="submit">Send off this info!</button>

	<p class="required">* We need this! :¬)</p>
	
</form>