<form method="post" id="project-planner" class="project-planner">

	<h2>Project Planner</h2>

	<fieldset>

		<legend>Your details</legend>		

		<label for="client-name">Name <span class="required">(Required)</span></label>
		<input class="project-planner__input" type="text" name="client-name" id="client-name"
			   placeholder="Terry Wogan" required autocomplete="given-name">

	   <label for="client-organisation">Organisation</label>
		<input class="project-planner__input" type="text" name="client-organisation" id="client-organisation"
			   placeholder="BBC" autocomplete="organization">

   </fieldset>

   <fieldset>

		<legend>Your contact info</legend>

		<label for="client-email">Email <span class="required">(Required)</span></label>
		<input class="project-planner__input" type="email" name="client-email" id="client-email"
			   placeholder="wogan@bbc.co.uk" required autocomplete="email">

		<label for="client-phone">Phone Number</label>
		<input class="project-planner__input" type="tel" name="client-phone" id="client-phone"
			   placeholder="0500 288 291" autocomplete="tel">

	</fieldset>

	<fieldset>	

		<legend>Your idea</legend>

		<label for="project-budget">Budget</label>
		<select class="project-planner__input" name="project-budget" id="project-budget">
			<option>&lt; £1k</option>
			<option selected>£1 – £10k</option>
			<option>£10 – £50k</option>
			<option>£50k +</option>
		</select>

		<label for="project-idea">Project Idea <span class="required">(Required)</span></label>
		<textarea class="project-planner__input" name="project-idea" id="project-idea"
				  placeholder="Tell us a bit about your project" required rows="5"></textarea>
	
	</fieldset>

	<button class="project-planner__submit" type="submit">Send us the deetz</button>
	
</form>