---
layout: default
title: About
desc: ROSE Digital is Zac Colley and Peter Jones, two guys based in Portsmouth.
---

<main class="page page-about">
<div class="wrapper">
	
	<section class="page-desc">
		
		<h1>About</h1>

		<p>ROSE Digital is Zac Colley and Peter Jones, two guys based in Portsmouth.</p>

		<p>Working with us means you're communicating directly with the people designing and building for you. We're flexible and can adapt easily to your ideas and business.</p>
	
	</section>
	
	{% for author in site.data.authors %}{% assign author_details = author[1] %}
	<section class="team-member" id="{{ author_details.display_name }}">

		<div class="photo">
			<img src="{{ root_url }}/img/{{ author_details.display_name }}-head.png" alt="Image of {{  author_details.display_name }}">
		</div>

		<div class="details">
			
			<h1 class="name">{{ author_details.name }}</h1>
			{% if author_details.title %}
			<h2 class="title"><small>{{ author_details.title }}</small></h2>
			{% endif %}
			
			{% if author_details.bio %}
			<p class="bio">{{ author_details.bio }}</p>
			{% endif %}
	
			{% for post in site.posts %}
			{% include latest-member-post.html %}
			{% endfor %}

			{% if author_details.web or author_details.twitter or author_details.github or author_details.email %}
			<ul>
				{% if author_details.web %}<li>Personal site: <a href="http://{{ author_details.web }}">{{ author_details.web }}</a></li>{% endif %}
				{% if author_details.twitter %}<li>Twitter: <a href="http://www.twitter.com/{{ author_details.twitter }}">@{{ author_details.twitter }}</a></li>{% endif %}
				{% if author_details.github %}<li>Github: <a href="http://www.github.com/{{ author_details.github }}">{{ author_details.github }}</a></li>{% endif %}
				{% if author_details.email %}<li>Email: <a href="mailto:{{ author_details.email }}">{{ author_details.email }}</a></li>{% endif %}
			</ul>
			{% endif %}

		</div>

	</section>
	{% endfor %}

</div>
</main>