---
layout: default
title: Blog · ROSE Digital ✿
---

<main class="blog-posts">

	<section class="page page-desc">
	<div class="wrapper">

		<h1>Blog</h1>
	
		<p>Mostly you'll find posts on how we work, hot tips for the web and other assorted office goings on.</p>
	
	</div>
	</section>

	{% for post in paginator.posts %}
	<a href="{{ post.url }}" class="post">
		<div class="wrapper">
			
		{% assign author = site.data.authors[post.author] %}
		
		<div class="top">
			
			<h1 class="title">{{ post.post_title }}</h1>

			<h2 class="meta">
				<time timestamp="{{ page.date }}" title="{{ page.date }}">{{ post.date | date: "%d-%m-%Y" }}</time>
				<small> by {{ author.display_name }}</small>
			</h2>			
			
		</div>

		<p class="excerpt">{{ post.excerpt | remove: '<p>' | remove: '</p>' | strip_html | replace: '&nbsp;', ' ' | truncate: 250 }}</p>
		</div>
	</a>
	{% endfor %}

	{% if paginator.total_pages > 1 %}
	<div class="pagination">
		
		<p class="previous">
		{% if paginator.previous_page %}
			<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Prev</a>
		{% else %}
			<span class="no-link">Prev</span>
		{% endif %}
		</p>

		{% comment %}

		TODO: Page nos

		<ul class="page-links">
		{% for page in (1..paginator.total_pages) %}

			<li>
			{% if page == paginator.page %}
				<em class="page-no">{{ page }}</em>
			{% elsif page == 1 %}
				<a class="page-no" href="{{ '/blog' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
			{% else %}
				<a class="page-no" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
			{% endif %}
			</li>

		{% endfor %}
		</ul>

		{% endcomment %}

		<p class="next">
		{% if paginator.next_page %}
			<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next</a>
		{% else %}
			<span class="no-link">Next</span>
		{% endif %}
		</p>

	</div>
	{% endif %}

</main>