---
layout: default
title: Blog ✿ ROSE Digital
---

<main class="blog-posts">

	{% for post in paginator.posts %}
	<a href="{{ post.url }}" class="post">
		{% assign author = site.data.authors[post.author] %}
		
		<h1 class="title">{{ post.title }}</h1>
		<h2 class="meta">
			<time timestamp="{{ page.date }}" title="{{ page.date }}">{{ post.date | date_to_string }}</time>
			<small> by {{ author.display_name }}</small>
		</h2>
		<p class="excerpt">{{ post.excerpt | remove: '<p class="lead">' | remove: '</p>' }}</p>
	</a>
	{% endfor %}

	{% if paginator.total_pages > 1 %}
	<div class="pagination">
		{% if paginator.previous_page %}
			<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Prev</a>
		{% endif %}

		{% for page in (1..paginator.total_pages) %}
			{% if page == paginator.page %}
				<em>{{ page }}</em>
			{% elsif page == 1 %}
				<a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
			{% else %}
				<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
			{% endif %}
		{% endfor %}

		{% if paginator.next_page %}
			<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next</a>
		{% endif %}
	</div>
	{% endif %}

</main>