/* _header.scss */

header{
	z-index: 1337;
	position: fixed;
	top: 0; right: 0; left: 0;
	overflow: hidden;
	padding: .75em 1rem;
	
	background-color: $roseWhite; 
	background-color: transparentize(white, .05);
	color: $roseWhite;
}

header .logo{
	float: left;
	width: 40%;
}

header nav{
	float: left;
	width: 60%;
}

header nav li{
	float: left;
	width: (100%/$navLinkAmount);
	
	color: $roseRed;
	text-align: center;
}

header nav li.menu-link{
	display: none;
	width: 100%;
}

header nav li.menu-link a{
	float: right;
	padding: .75em;
	width: 50%;
	margin: 1em auto;
	
	border: 1px solid;
	border-radius: 5px;
}

header nav li a{
	padding: 1.5em 0;
	@include animateIn(fade);
}

header nav li a:hover{
	color: $roseBlack;
}

@media screen and (max-width: $breakPointMedium){
	
	header{ padding: 0 .75rem; }

}

@media screen and (max-width: $breakPointSmall){
	
	header nav li.menu-link{ display: block; }

}

@import 'logo';
@import 'nav';