/* _blog.scss */

.blog .wrapper{
	max-width: 50em;
}

.blog .top{
	overflow: hidden;
	padding: 1.5em 2.5em;
	
	background: $black;

	@media (max-width: $screen-m){
		padding: 1em;
	}
}

.blog .top .title{
	margin-bottom: .25em;
	
	font-size: 4em;
	color: $white;
}

.blog .top .meta{
	float: left;

	font-size: 1.5em;
	font-family: $sans-serif;
	font-style: normal;
	color: $red;
}

.blog .top .meta time{
	cursor: help;
}

.blog .top small{
	font-size: 1em;
	float: right;
	color: darken($white, 10%);
}

.blog .post{
	padding: 1.5em 0;
	overflow: hidden;
}

.post h1, .post h2,
.post h3, .post h4,
.post h5, .post h6{
	clear: both;
	margin: 1em 0 .5em;
}

.blog .post article p:first-child{
	line-height: 1.5;
	font-weight: 400;
	font-size: 1.5em;
	color: darken($white, 50%);
}

.blog .post a{
	// lovely underline style inspired by: https://medium.com/coding-design/2669cd13b5a7

	color: $green;

	background-image: linear-gradient(to bottom, #fff 50%, lighten(desaturate($green, 33.33%), 33.33%) 50%);
	background-repeat: repeat-x;
	background-size: 2px 2px;
	background-position: 0 1.2em;

	text-shadow: 1px 0 0 $bg-color, 1px 0 0 $bg-color, 2px 0 0 $bg-color, -2px 0 0 $bg-color;
}

@media (max-width: $screen-l){
	.blog .post a{ background-position: 0 1.1em; }
}

.blog .post a:hover{
	background-size: 0;
}

.blog .post article p:first-child a{
	color: darken($white, 50%);

	background-image: linear-gradient(to bottom, #fff 50%, lighten(darken($white, 50%), 33.33%) 50%);
}

.blog .post ul ol,.blog .post ul ul,
.blog .post ol ul, .blog .post ol ol{
	margin-left: 1em;
}

.blog .post li{
	margin-left: 1em;
	margin-bottom: .5em;

	list-style: none;
	font-size: 1.25em;
	font-weight: 400;
	color: lighten($black, 15%);
}

.blog .post li::before{
	float: left;
	margin: .25em 0;
	margin-right: .5em;
	
	line-height: 1em;
	font-size: .7em;
	color: lighten($black, 50%);
}

.blog .post ul li::before{
	content: '✿';
}

.blog .post ol{ counter-reset: section; }		
.blog .post ol li{ counter-increment: section; }
.blog .post ol li::before{ content: counters(section, '.') '.'; }

.blog .post blockquote cite a{
	color: inherit;

	background-size: 0 0;
}

.blog .post img{
	display: block;
	max-width: 100%;
	margin: .5em auto;
}

.blog .post .img-left{
	float: left;
	margin-right: 1em;
	margin-left: 5px;
}

.blog .post .img-right{
	float: right;
	margin-left: 1em;
	margin-right: 5px;
}

.blog .post .img-left,
.blog .post .img-right{
	max-width: 50%;

	@media (max-width: $screen-s){
		float: none;
		margin: 0 auto;
		max-width: 100%;
	}
}

.blog .post .img-round{
	border-radius: 50%;
}

.blog .post .img-screen{
	border: 2px dashed transparentize($black, .85);
}

.blog .notes{
	overflow: hidden;
	padding: 2em 0;

	border-top: 2px solid darken($white, 10%);
}

.blog .notes .author{
	float: left;
	width: 40%;
}

.blog .notes h1{
	margin-bottom: .25em;
	padding: .25em 0;
	
	font-style: normal;
	color: $green;
}

.blog .notes p{
	float: left;
	width: 60%;

	font-size: 1.15em;
	color: lighten($black, 5%);
}

@media (max-width: $screen-m){

	.blog .notes .author,
	.blog .notes p{
		width: 100%;
	}

}

.interest{
	display: block;
	width: 100%;
	padding: .5em;

	color: desaturate($red, 10%);
	font-size: 2em;
	font-family: $serif;
	text-align: center;

	transition: color .5s ease-in, transform .5s, ease-in;
}

.interest:hover{
	color: $red;
	transform: translateY(-3px);
}