/* _blog-post-dynamic-logo.scss */

$petalSize: 100px;

.example-petal{
	display: block;
	height: $petalSize;
	width: $petalSize;
	
	border-width: $petalSize * 0.07;
	border-style: solid;
	
	animation: .5s infinite alternate ease-in-out;
}

.example-petal--1{
	@extend .example-petal;
	margin: 0 auto;

	border-color: $black;

	animation-name: animateExamplePetal;
}

@keyframes animateExamplePetal{
	to{
		border-color: $red;
		border-radius: 50%;
	}
}

.example-petals{
	height: $petalSize * 1.3;
	width: $petalSize * 1.3;
	margin: 0 auto;
	transform: translateY(0);
}

@for $i from 1 through 3{

	.example-petal--2-#{$i}{
		@extend .example-petal;
		position: absolute;
		
		border-color: $red;
		border-radius: 50%;

		animation-name: example-petal-2-#{$i};
	}

}

@keyframes example-petal-2-1{
	to{ transform: translate(33.33%, 0); }
}

@keyframes example-petal-2-2{
	to{ transform: translate(0, 16.66%); }
}

@keyframes example-petal-2-3{
	to{ transform: translate(33.33%, 33.33%); }
}

.example-petal--3-1,
.example-petal--3-2,
.example-petal--3-3{
	@extend .example-petal;
	position: absolute;
	
	border-color: $red;
	border-radius: 50%;
}

.example-petal--3-1{
	animation-name: example-petal--3-1;
	transform: translate(33.33%, 0);
}

.example-petal--3-2{
	animation-name: example-petals--3-2;
	transform: translate(0%, 16.66%);
}

.example-petal--3-3{
	animation-name: example-petals--3-3;
	transform: translate(33.33%, 33.33%);
}

@keyframes example-petal--3-1{
	to{ transform: translate(0%, 16.66%); }
}

@keyframes example-petals--3-2{
	to{ transform: translate(33.33%, 33.33%); }
}

@keyframes example-petals--3-3{
	to{ transform: translate(33.33%, 0%); }
}