/* _blog-posts.scss */

.blog-posts .blog-post{
	display: block;
	overflow: hidden;
	padding: 1em 0;
}

.blog-posts .blog-post:hover{
	background: darken($white, 5%);
}

.blog-posts .blog-post{
	overflow: hidden;
	border-bottom: 2px solid darken($white, 5%);
}

.blog-posts .blog-post:last-child{
	border: none;
}

.blog-posts .blog-post .title{
	float: left;
	width: 60%;
	margin: 0;
	padding: 0;

	font-size: 2em;
	@media (max-width: $screen-m){ width: 70%; }
}

.blog-posts .blog-post .meta{
	float: left;
	width: 30%;
	margin: .5em 0;
	padding: 0 1em;

	font-size: 1em;
	font-style: normal;
	font-family: $sans-serif; 
	color: lighten($black, 50%);
	text-align: right;
}

.blog-posts .blog-post .category{
	float: left;
	width: 10%;
	padding: .75em;
	margin: .25em 0;

	color: transparentize($black, .35);
	font-size: .6em;
	text-align: center;
	text-transform: uppercase;

	@media (max-width: $screen-m){ display: none; }
}

.blog-posts .blog-post .category-blog{ visibility: hidden; }
.blog-posts .blog-post .category-work{ background-color: $light-green; }

.pagination{
	width: 70%;
	margin: 0 auto;
	
	overflow: hidden;
	padding: 2.5em 0 1em;
}

.pagination .previous,
.pagination .next,
.pagination .page-links{
	float: left;
	margin: 0;
}

.pagination .previous,
.pagination .next{
	padding: .75em 0;
	width: 50%;

	font-style: italic;
	font-weight: 300;
	color: lighten($black, 15%);
	text-transform: uppercase;
}

.pagination .next{
	float: right;
	text-align: right;
}

.pagination .previous a::before,
.pagination .next a::after,
.pagination .previous .no-link::before,
.pagination .next .no-link::after{
	margin: 0 .25em;
}

.pagination .previous a::before{ content: '←' }
.pagination .next a::after{ content: '→' }

.pagination .previous .no-link::before,
.pagination .next .no-link::after{ content: '—' }

.pagination .no-link::before,
.pagination .no-link::after,
.pagination .no-link{
	color: darken($white, 40%);
	cursor: not-allowed;
}

.pagination .page-links{
	width: 60%;

	text-align: center;
}

.pagination .page-links li{
	display: inline-block;
	padding: 0 .75em;
	
	font-size: 1.5em;
}

.pagination .page-links li::before{ display: none; }

.pagination .page-links .page-no{
	display: block;
	padding: .5em;

	border-radius: 5px;

	color: $black;
	transition: background .15s, color .15s;
}

.pagination .page-links .page-no::after{
	display: block;
	margin-top: .5em;
	height: 1em;
	width: 1em;

	font-size: .75em;
	color: lighten($black, 15%);
}

.pagination .page-links li:nth-child(1n) .page-no::after{ content: '✽' }
.pagination .page-links li:nth-child(2n) .page-no::after{ content: '✾' }
.pagination .page-links li:nth-child(3n) .page-no::after{ content: '❁' }
.pagination .page-links li:nth-child(4n) .page-no::after{ content: '❃' }
.pagination .page-links li:nth-child(5n) .page-no::after{ content: '❀' }

.pagination .page-links a.page-no:hover{
	color: $white;
	
	background: lighten($black, 15%);
	
	opacity: 1;
}

.pagination .page-links a.page-no:hover::after{
	color: desaturate($white, 15%)
}

.pagination .page-links em.page-no{
	font-style: normal;
	color: $red;
	
	background: lighten($black, 75%);
	
	cursor: default;
}

.pagination .page-links em.page-no::after{
	color: desaturate($red, 15%)
}
