/* _blog.scss */

.blog .wrapper{
	max-width: 50em;
}

.blog .top{
	overflow: hidden;
	padding: 1.5em 0;
	
	background: $black;
}

.blog .top .title{
	margin-bottom: .25em;
	
	font-size: 3.5em;
	line-height: 1em;
	color: $white;
}

.blog .top .meta{
	float: left;
	width: 70%;

	font-size: 1.2em;
	font-family: $sans-serif;
	font-style: normal;
	color: $red;
}

.blog .top .meta time{
	cursor: help;
}

.blog .top small{
	width: 30%;
	float: right;
	
	font-size: 1.2em;
	color: darken($white, 10%);
	text-align: right;
}

.blog .post{
	padding: 1.5em 0;
	overflow: hidden;
}

.post h1, .post h2,
.post h3, .post h4,
.post h5, .post h6{
	clear: both;
	margin: 1em 0 .5em;
}

.blog .post article > p:first-child{
	line-height: 1.5;
	font-weight: 400;
	font-size: 1.5em;
	color: darken($white, 50%);
}

.blog .post a{
	@include underline($green);
}

@media (max-width: $screen-l){
	.blog .post a{ background-position: 0 1.1em; }
}

.blog .post a:hover{
	background-size: 0;
}

.blog .post article p:first-child a{
	color: darken($white, 50%);

	background-image: linear-gradient(to bottom, #fff 50%, lighten(darken($white, 50%), 33.33%) 50%);
}

.blog .post ul ol,.blog .post ul ul,
.blog .post ol ul, .blog .post ol ol{
	margin-left: 1em;
}

.blog .post li{
	margin-left: 1em;
	margin-bottom: .5em;

	list-style: none;
	font-size: 1.25em;
	font-weight: 400;
	color: lighten($black, 15%);
}

.blog .post li::before{
	float: left;
	margin: .25em 0;
	margin-right: .5em;
	
	line-height: 1em;
	font-size: .7em;
	color: lighten($black, 50%);
}

.blog .post ul li::before{
	content: '✿';
}

.blog .post ol{ counter-reset: section; }		
.blog .post ol li{ counter-increment: section; }
.blog .post ol li::before{ content: counters(section, '.') '.'; }

.blog .post blockquote cite a{
	color: inherit;

	background-size: 0 0;
}

.blog .post img{
	display: block;
	max-width: 100%;
	margin: .5em auto;
}

.blog .post .img-left{
	float: left;
	margin: .25em 1em .25em 5px;
}

.blog .post .img-right{
	float: right;
	margin: .25em 5px .25em 1em;
}

.blog .post .img-left,
.blog .post .img-right{
	max-width: 50%;

	@media (max-width: $screen-s){
		float: none;
		margin: 0 auto 1em;
		max-width: 100%;
	}
}

.blog .post .img-round{
	border-radius: 50%;
}

.blog .post .img-screen{
	border: 2px dashed transparentize($black, .85);
}

.code-result{
	overflow: hidden;
	margin-top: 1em;
	padding: 1em;

	border: 3px solid lighten($black, 75%);
	border-radius: 2px;

	background-color: #fff;
	background-image: linear-gradient(45deg, #efefef 25%, transparent 25%, transparent 75%, #efefef 75%, #efefef),
					  linear-gradient(45deg, #efefef 25%, transparent 25%, transparent 75%, #efefef 75%, #efefef);
	background-position: 0 0, 15px 15px;
	background-size: 30px 30px;

	transform: translateY(0);
}

.blog .post .caption{
	padding: .25em 0;
	display: block;
	text-align: center;
}

.blog .notes{
	overflow: hidden;
	padding: 2em 0;

	border-top: 2px solid darken($white, 10%);
}

.blog .notes .author{
	float: left;
	width: 40%;

	@media (max-width: $screen-m){ width: 100%; }
}

.blog .notes h1{
	margin-bottom: .25em;
	padding: .25em 0;
	
	font-style: normal;
	color: $green;
}

.blog .notes p{
	float: left;
	width: 60%;

	font-size: 1.15em;
	color: lighten($black, 5%);

	@media (max-width: $screen-m){ width: 100%; }
}