/* _code.scss */

@import 'syntax';

code,
kbd,
pre,
samp{
	font-family: $monospace;
	border-radius: 2px;
}

kbd, code{
	padding: .15em .25em;
	margin: 0 1px;
	
	font-size: .85em;

	background-color: lighten($roseGreen, 50%);
	color: $roseGreen;
}

pre{
	display: block;
	padding: 1em;
	margin: 1em 0;
	
	word-break: break-all;
	word-wrap: break-word;
	font-size: 1em;
}

pre code{
	padding: 0;
	
	white-space: pre-wrap;
	font-size: inherit;
	color: inherit;
	
	border-radius: 0;
	border: 0;
	background: none;
}

.pre-scrollable{
	max-height: 400px;
	overflow-y: scroll;
}
