/* _fonts.scss */

$sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: "Montserrat", "Helvetica Neue", Helvetica, Arial, serif;
$monospace: 'Anonymous Pro', 'Courier New', monospace;