/* _footer.scss */

footer{
	padding: 2em 0 1.25em;

	font-size: .85em;
	font-weight: 300;
	color: lighten($black, 10%);
}

footer .details,
footer nav{
	text-align: center;
	display: inline-block;
	padding: .5em 0;
	width: 100%;
}

footer .details--faint{
	color: lighten($black, 25%);
	text-transform: uppercase;
	font-size: .85em;
}

footer .details:first-child::before{
	display: inline-block;
	content: '✿';
	margin-right: .35em;
}

footer .details a{
	color: inherit;
	font-weight: 600;
	text-decoration: none;
	
	border-bottom: 1px solid transparent;

	transition: border-color .15s;
}

footer .details a:hover{
	border-color: lighten($black, 25%);
}

footer .links{
	text-align: center;
}

footer .links li{
	display: inline;
}

footer .links li::after{
	content: '•';
	margin-left: .75em;
	margin-right: .5em;
}

footer .links li:last-child::after{
	display: none;
	content: '';
}

footer nav{
	display: block;
	width: 60%;
	margin: 0 auto;
}

footer nav li{
	display: inline-block;
	margin-left: 1em;
	padding: .75em .5em;
	font-size: 1em;
}

footer nav li a{	
	font-size: 1em;
	color: lighten($black, 10%);
	text-align: right;
}

footer nav li a:hover{
	color: $red;
}

footer .cc,
footer .map{
	line-height: 1.5em;
	
	font-size: .85em;
}

footer .cc{
	display: block;
	margin: 0 auto;
	width: 40%;
	
	color: lighten($black, 25%);

	@media (max-width: $screen-m){ width: 70%; }
}

footer .cc a{ font-weight: 300; }

footer .cc .license-icons{
	display: block;
	margin-top: .5em;
	
	border: none;
	
	opacity: .75;
}

footer .cc .license-icons:hover{
	opacity: .8;
}

footer .cc .license-icons img{
	width: 1.5em;
	height: 1.5em;
}