/* _header.scss */

header{
	overflow: hidden;
	padding: .75em 0;

	background-color: $white;
	color: $white;

	backface-visibility: hidden;
}

header .logo{
  display: block;
  margin: .5em auto;
  width: 100%;
}

@import 'logo';
