/* _header.scss */

header{
	overflow: hidden;
	padding: .25em 0 1.25em;

	background-color: $white;
	color: $white;

	backface-visibility: hidden;
}

header .logo{
  display: block;
  margin: .5em auto .25em;
  width: 100%;
}

@import 'logo';
