/* _logo.scss */

.logo{
	display: inline-block;

	font-family: Quicksand, sans-serif;
	font-weight: 400;
	font-size: 2.5rem;

	line-height: 1.5em;
	white-space: nowrap;

	color: $black;

	backface-visibility: hidden; // stops the animation white flash
	transform-origin: center;
	@include animateIn(logo);

	transition: opacity .15s;

	user-select: none; // stops the user from being able to select the text
}

.logo-white{ color: $white; }

.logo a{
	display: block;
	color: inherit;
	text-decoration: none;
}

.logo:hover{ opacity: .8; }

.logo-img{
	margin-top: 10px;
	height: 35px;

	text-indent: -9999px;
	
	background-repeat: no-repeat;
	background-position: 10px center;
	background-size: auto 100%;
}

.logo-img-default{
	background-image: url('../../img/logo/default.png');
	background-image: url('../../img/logo/default.svg'), none;
}

.logo-img-black{
	background-image: url('../../img/logo/black.png');
	background-image: url('../../img/logo/black.svg'), none;
}

.logo-img-white{
	background-image: url('../../img/logo/white.png');
	background-image: url('../../img/logo/white.svg'), none;
}

@media (max-width: $screen-s){
	.logo-img{ background-size: auto 90%; }
}