/* _logo.scss */

.logo{
	display: inline-block;

	font-family: Quicksand;
	font-weight: 400;
	font-size: 2.5rem;

	line-height: 1.5em;
	white-space: nowrap;

	color: $black;

	backface-visibility: hidden; // stops the animation white flash
	transform-origin: center;
	@include animateIn(logo);

	transition: opacity .15s;

	user-select: none; // stops the user from being able to select the text
}

.logo-white{ color: $white; }

.logo a{
	display: block;
	color: inherit;
	text-decoration: none;
}

.logo:hover{ opacity: .8; }

.logo-img{
	margin-top: 10px;
	height: 35px;

	text-indent: -9999px;
	
	background: no-repeat 10px center;
	background-size: auto 100%;
}

.logo-img-default{
	background-image: url('../../img/logo/default.png');
	background-image: url('../../img/logo/default.svg'), none;
}

.logo-img-black{
	background-image: url('../../img/logo/black.png');
	background-image: url('../../img/logo/black.svg'), none;
}

.logo-img-white{
	background-image: url('../../img/logo/white.png');
	background-image: url('../../img/logo/white.svg'), none;
}

.logo .petals{
	position: relative;
	display: inline-block;
	width: 2.25rem;
	height: 2rem;
}

// each petal is absolute positioned so they're over each other
.logo .petals li{
	position: absolute;
	height: 1.7rem;
	width: 1.7rem;
	line-height: .5rem;

	border: 2px solid $red;
	border-radius: 50%;

	transform: translate(0%, 0%);
	animation: .5s .5s 2 alternate ease-in-out;
}

// black & white variants
.logo-black .petals li{	border-color: $black; }
.logo-white .petals li{	border-color: $white; }

// then there each petal is handled by nth-child and move to it's position

.logo .petals li:nth-child(1){
	animation-name: petal-one;
	transform: translate(.5rem, .00001rem); // .00001 because of a IE1-/11 bug
}

.logo .petals li:nth-child(2){
	animation-name: petal-two;
	transform: translate(0%, .25rem);
}

.logo .petals li:nth-child(3){
	animation-name: petal-three;
	transform: translate(.5rem, .5rem);
}

// each petal has a respective animation

@keyframes petal-one{
	100%{ transform: translate(0%, .25rem); }
}

@keyframes petal-two{
	100%{ transform: translate(.5rem, .5rem); }
}

@keyframes petal-three{
	100%{ transform: translate(.5rem, 0%); }
}