/* _main.scss */

@import 'mixins/underline';
@import 'mixins/animations';

*::after::selection,
*::before::selection,
*::selection{
	background: transparentize($red, .1);
	color: $white;
	text-shadow: none;
}

body{
	padding-top: 5rem;
	
	font-family: $sans-serif;
	font-weight: 400;
	text-rendering: optimizeLegibility;

	background: $bg-color;
	color: $black;

	@media (max-width: $screen-m){ padding-top: 4rem; }
}

.wrapper{
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 1.5em;
}

main{
	position: relative;
	overflow: hidden;
	
	@include animateIn(fade);
}

.page .page-desc{
	width: 50%;

	@media(max-width: $screen-m){ width: 100%; }
}

.page-desc h1,
.page-desc p{
	max-width: 40em;
}

.page-desc h1{
	margin: .5em 0;
	
	font-size: 5em;
	font-style: normal;
	font-weight: 700;
	color: $red;
}

.page-desc a{
	color: $green;
}

main .btn{
	display: block;
	width: 60%;
	margin: 50px auto 0;
	padding: 1em;

	color: $red;
	font-size: 1.5em;
	text-align: center;

	border: 2px solid $red;
	border-radius: 5px;
	background: $white;

	transition: transform .25s;

	@media (max-width: $screen-xl){ width: 70%;  }
	@media (max-width: $screen-l){  width: 80%;  }
	@media (max-width: $screen-m){  width: 90%;  }
	@media (max-width: $screen-s){  width: 100%; }
}

main .btn:hover{
	color: $white;

	background: $red;
	cursor: pointer;
}

main .btn:active{
	transform: translateY(-5px);
}

.emoji,
.blog .post .emoji{
	display: inline-block;
	max-width: 1.5em;
	max-height: 1.5em;
	line-height: 1em;
	margin: 0;
	margin-bottom: -.25em;
}

.interest{
	display: block;
	width: 100%;
	padding: .5em;

	color: desaturate($red, 10%);
	font-size: 2em;
	font-family: $serif;
	text-align: center;

	transition: color .5s ease-in, transform .5s, ease-in;
}

.interest:hover{
	color: $red;
	transform: translateY(-3px);
}

@import 'error';

@import 'header';
@import 'logo';
@import 'nav';
@import 'home';
@import 'team-member';
@import 'blog';
@import 'blog-posts';
@import 'work';
@import 'project-planner';
@import 'footer';
@import 'leaflet';

@import 'blog-post-dynamic-logo';
