/* _main.scss */

@import 'mixins/underline';
@import 'mixins/animations';

*::after::selection,
*::before::selection,
*::selection{
	background: transparentize($red, .1);
	color: $white;
	text-shadow: none;
}

body{
	font-family: $sans-serif;
	font-weight: 400;
	text-rendering: optimizeLegibility;

	background: $bg-color;
	color: $black;

	@media (max-width: $screen-m){ padding-top: 4rem; }
}

.wrapper{
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 1.5em;

  @include animateIn(fade);
}

main{
	position: relative;
	overflow: hidden;
}

.page .page-desc{
	width: 50%;

	@media(max-width: $screen-m){ width: 100%; }
}

.page-desc h1,
.page-desc p{
	max-width: 40em;
}

.page-desc h1{
	margin: .5em 0;

	font-size: 5em;
	font-style: normal;
	font-weight: 700;
	color: $red;
}

.page-desc a{
	color: $green;
}

.emoji,
.blog .post .emoji{
	display: inline-block;
	max-width: 1.5em;
	max-height: 1.5em;
	line-height: 1em;
	margin: 0;
	margin-bottom: -.25em;
}

@import 'header';
@import 'logo';
@import 'home';
@import 'blog';
@import 'blog-posts';
@import 'footer';

@import 'blog-post-dynamic-logo';
