/* _main.scss */

*::after::selection,
*::before::selection,
*::selection{
	background: transparentize($red, .1);
	color: $white;
	text-shadow: none;
}

body{
	padding: 5rem 1rem 0;
	
	font-family: $sans-serif;
	font-weight: 400;
	text-rendering: optimizeLegibility;

	background: $bg-color;
	color: $black;
}

@media (max-width: $screen-m){

	body{ padding: 4rem .75rem 0; }

}

.wrapper{
	max-width: 1200px;
	margin: 0 auto;
}

main{
	position: relative;
	overflow: hidden;
	
	@include animateIn(fade);
}

.page-desc{
	width: 50%;
	margin: 0 auto;
	margin-bottom: 2em;

	text-align: center;

	@media (max-width: $screen-xl){  width: 70%;	}
	@media (max-width: $screen-l){ 		width: 80%;	}
	@media (max-width: $screen-m){ 		width: 90%;	}
}

.page-desc h1{
	margin: .5em 0;
	
	font-size: 5em;
	font-style: normal;
	color: $red;
	text-align: center;
}

.page-desc a{
	color: $green;
}

main .btn{
	display: block;
	width: 60%;
	margin: 50px auto 0;
	padding: 1em;

	color: $red;
	font-size: 1.5em;
	text-align: center;

	border: 2px solid $red;
	border-radius: 5px;
	background: $white;

	transition: transform .25s;

	@media (max-width: $screen-xl){ width: 70%;  }
	@media (max-width: $screen-l){  width: 80%;  }
	@media (max-width: $screen-m){  width: 90%;  }
	@media (max-width: $screen-s){  width: 100%; }
}

main .btn:hover{
	color: $white;

	background: $red;
	cursor:
}

main .btn:active{
	transform: translateY(-5px);
}

.emoji,
.blog .post .emoji{
	display: inline-block;
	max-width: 28px;
	max-height: 28px;
	margin: 0;
	margin-bottom: -.25em;
}

@import 'error';

@import 'header';
@import 'logo';
@import 'nav';
@import 'home';
@import 'team-member';
@import 'blog';
@import 'blog-posts';
@import 'work';
@import 'project-planner';
@import 'footer';

.code-result{
	overflow: hidden;
	margin-top: 1em;
	padding: 1em;

	border: 3px solid lighten($black, 75%);
	border-radius: 2px;

	background-color: #fff;
	background-image: linear-gradient(45deg, #efefef 25%, transparent 25%, transparent 75%, #efefef 75%, #efefef),
					  linear-gradient(45deg, #efefef 25%, transparent 25%, transparent 75%, #efefef 75%, #efefef);
	background-position: 0 0, 15px 15px;
	background-size: 30px 30px;
}

@import 'blog-post-dynamic-logo';
