/* _project-planner.scss */

.page-content .page-idea,
.project-planner{
	float: left;
	width: 50%;

	@media (max-width: $screen-m){ width: 100%; }
}

.page-content .page-idea{
	padding-right: 1.5em;
	
	@media (max-width: $screen-m){ padding-right: 0; }
}

.project-planner{
	overflow: hidden;
	margin-top: 3.5em;
	padding-left: 1.5em;
	border-left: 2px solid darken($white, 5%);

	@media (max-width: $screen-m){ padding-left: 0; }
}

.project-planner .required{
	color: desaturate($green, 25%);
}

.project-planner label,
.project-planner__input,
.project-planner__submit{
	display: block;
	width: 100%;
}

.project-planner label{
	margin: .75em 0 .5em;
	
	font-size: 1.5em;
}

.project-planner textarea{
	max-width: 100%;
}

.project-planner__input{
	padding: .5em;
	margin-bottom: 1em;

	font-size: 1.25em;

	border: 2px solid darken($white, 15%);

	outline: none;

	transition: border-color .5s;
	margin-bottom: .5em;
}

.project-planner__input--dirty:not(:focus):invalid{
	border-color: desaturate($red, 25%);
}

.project-planner__input:focus{
	border-color: darken($white, 25%);
}

.project-planner__submit{
	padding: 1em;
	margin: 1.5em 0;

	font-size: 2em;
	color: $green;

	background-color: transparent;
	
	border: 2px solid $green;

	transition: background-color .25s, color .25s;
}

.project-planner__submit:hover{
	color: $white;

	background-color: $green;

	cursor: pointer;
}