/* _project-planner.scss */

.project-planner{
	overflow: hidden;
	width: 70%;
	margin: 0 auto;
	padding: 3em 0;

	@media (max-width: $screen-xl){ width: 80%; }
	@media (max-width: $screen-l){      width: 90%; }
	@media (max-width: $screen-m){     width: 100%; }
}

.project-planner h1{
	text-align: center;
}

.project-planner .required{
	color: desaturate($green, 25%);
}

.project-planner label,
.project-planner__input,
.project-planner__submit{
	display: block;
	width: 100%;
}

.project-planner label{
	margin: .75em 0 .5em;
	
	font-size: 1.5em;
}

.project-planner textarea{
	max-width: 100%;
}

.project-planner__input{
	padding: .5em;
	margin-bottom: 1em;

	font-size: 1.25em;

	border: 2px solid darken($white, 15%);

	outline: none;

	transition: border-color .5s;
	margin-bottom: .5em;
}

.project-planner__input--dirty:not(:focus):invalid{
	border-color: desaturate($red, 25%);
}

.project-planner__input:focus{
	border-color: darken($white, 25%);
}

.project-planner__submit{
	padding: 1em;
	margin: 1.5em 0;

	font-size: 2em;
	color: $green;

	background-color: transparent;
	
	border: 2px solid $green;
	border-radius: 4px;

	transition: background-color .25s, color .25s;
}

.project-planner__submit:hover{
	color: $white;

	background-color: $green;

	cursor: pointer;
}