/* _project-planner.scss */

.page-content .page-desc,
.project-planner{
	float: left;
	width: 50%;

	@media (max-width: $screen-m){ width: 100%; }
}

.page-content .page-desc{
	padding-right: 1.5em;
	
	@media (max-width: $screen-m){ padding-right: 0; }
}

.contact-details{
	overflow: hidden;

	@media (max-width: $screen-m){	
		margin-top: 1em;
		border-top: 2px solid darken($white, 5%);
	}
}

.project-planner{
	margin-top: 3.5em;
	padding-left: 1.5em;
	border-left: 2px solid darken($white, 5%);

	@media (max-width: $screen-m){
		padding-left: 0;
		margin-top: 1em;

		border-left: none;
		border-top: 2px solid darken($white, 5%);
	}
}

.project-planner .required{
	margin-left: .25em;
	
	text-transform: uppercase;
	font-size: .5em;
	color: desaturate($green, 25%);
}

.project-planner h1{
	margin: 0;
}

.project-planner fieldset{
	margin: 1.5em 0;
	padding: .5em 0;

	border-top: 2px solid darken($white, 5%);
}

.project-planner legend{
	padding-right: .25em;

	font-family: $serif;
	font-size: 1.75em;
	color: lighten($black, 7.5%);
}

.project-planner label,
.project-planner__input,
.project-planner__submit{
	display: block;
	width: 100%;
}

.project-planner label{
	margin: .75em 0 .5em;
	
	font-size: 1.25em;
	color: lighten($black, 10%);
}

.project-planner textarea{
	max-width: 100%;
}

.project-planner__input{
	padding: .5em;
	margin-bottom: 1em;

	font-size: 1.25em;

	border: 2px solid darken($white, 15%);
    border-radius: 0;

    -webkit-appearance: none;
	outline: none;

	transition: border-color .5s;
	margin-bottom: .5em;	
}

.project-planner__input--dirty:not(:focus):invalid{
	border-color: desaturate($red, 15%);
}

.project-planner__input:focus{
	border-color: darken($white, 25%);
}

.project-planner__submit{
	padding: 1em;
	margin: 1.5em 0;

	font-size: 2em;
	color: $green;

	background-color: transparent;
	
	border: 2px solid $green;
	border-radius: 5px;

	transition: background-color .25s, color .25s;
}

.project-planner__submit:hover{
	color: $white;

	border-color: $green;
	background-color: $green;

	cursor: pointer;
}

.project-planner__submit:disabled{
	color: lighten($black, 55%);

	border-color: lighten($black, 65%);
	background-color: lighten($black, 65%);

	cursor: not-allowed;
}

.project-planner #project-idea{
	min-height: 200px;
}