/* _team-member.scss */

.team-member{
	overflow: hidden;
	padding: 3em 0;
}

.team-member .details,
.team-member .photo{
	float: left;
	width: 50%;
}

@media (max-width: $breakPointLarge){
	.team-member{ font-size: .85em; }
}

.team-member .details{
	padding: 1em;
}

.team-member .details .name{
	margin-bottom: 0;
	padding-top: .25em;
	
	font-size: 4em;
	font-style: normal;
}

.team-member .details .title{
	font-size: 2em;
	font-style: normal;
	color: lighten($roseBlack, 25%);
}

.team-member .details .bio{
	border-bottom: 5px solid lighten($roseBlack, 75%);
	padding-bottom: .75em;
}

.team-member ul li{
	font-size: 1.35em;
	padding: .25em 0;
}

.team-member ul li a{
	color: $roseRed;
}

.team-member .details .latest-post{
	color: $roseGreen;
}

.team-member .details .latest-post q::before,
.team-member .details .latest-post q::after{
	color: desaturate($roseBlack, 10%);
}

.team-member .photo{
	overflow: hidden;
	border-radius: 50%;
}

.team-member .photo img{
	float: left;
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;

	filter: grayscale(1);
}

.team-member:nth-child(odd) .photo,
.team-member:nth-child(odd) .photo img{
	float: right;
}

@media (max-width: $breakPointMedium){

	.team-member{ padding: 1.5em 0; }

	.team-member .details,
	.team-member .photo{
		float: none;
		width: 100%;
	}

	.team-member .name,
	.team-member .title{
		text-align: center;
	}

	.team-member .details{ padding: 1em 0; }

}