/*_typography.scss */

main{
	@media (max-width: $screen-l){ font-size: .9em; }
	@media (max-width: $screen-m){ font-size: .85em; }
	@media (max-width: $screen-s){ font-size: .8em; }
}

main h1, main h2,
main h3, main h4,
main h5, main h6,
main p{
	margin-bottom: 1em;
}

main h1,
main h2,
main h3{
	font-weight: 400;
	font-family: $serif;
	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

main h1{
	font-size: 3em;
}

main h2{
	font-size: 2.5em;
	color: lighten($black, 5%);
}

main h3{
	font-size: 2em;
	color: lighten($black, 7.5%);
}

main h4,
main h5,
main h6{
	text-transform: uppercase;
	color: lighten($black, 7.5%);
}

main h4{
	font-weight: 700;
	font-size: 1.5em;
}

main h5{ 
	font-weight: 600;
	font-size: 1.25em;
}

main h6{
	font-weight: 500;
	font-size: .9em;
	color: lighten($black, 12.5%);
}

main p{	
	font-size: 1.35em;
	font-weight: 300;
	line-height: 1.45;
}

main a{
	font-weight: 500;
	
	color: inherit;
	text-decoration: none;
	
	transition: opacity .15s;
}

main a:hover{
	opacity: .9;
}

main em{
	font-weight: 400;
	font-style: italic;
}

main strong{
	font-weight: 600;
}

main hr{
	margin: 1.5em 0;

	border: 0;
	border-top: 2px solid lighten($black, 75%);
}

main ol, main ul{
	margin-top: .5em;
}

main article ol,
main article ul{
	margin: 2em 0;
}

main blockquote{
	margin: 1.5em 0;
	padding: 0 .75em;

	font-size: 1.2em;
	font-family: $serif;
}

main blockquote p{
	font-size: 2em;
	line-height: 1.25em;
	color: lighten(desaturate($red, 25%), 5%);
}

main blockquote cite{
	margin-top: .25em; 
	display: block;

	font-size: .65em;
	text-align: center;
}

main q{
	quotes: "“" "”" "‘" "’";
	
	font-weight: 500;
	color: lighten($black, 10%);
}

main q::before,
main q::after{
	vertical-align: -.3em;
	margin: 0 2px;
	line-height: 0;

	font-size: 1.25em;
	font-style: normal;
	font-weight: 400;
	font-family: $serif;
	color: inherit;
}

main q::before{ content: open-quote; }
main q::after{ content: close-quote; }

main cite::before{
	content: '—';

	color: inherit;
}

main cite a{
	color: inherit;
	background: none;
}

main small{
	font-variant: small-caps;
	font-size: .85em;
	font-family: $sans-serif;
	text-transform: lowercase;
}

$markColour: transparentize(invert($red), .3);

main mark{	
	background: $markColour;
	color: $black;
}

main sup,
main sub{
	font-size: .7em;
}

main sup{
	vertical-align: super;
}

main sub{
	vertical-align: sub;
}

main strike,
main del{
	opacity: .5;
	
	text-decoration-line: line-through;
}
