/* _variables.scss */

// colours

$black: #282828;
$red: #C43200;
$white: #FDFDFD;
$green: #40910B;
$light-green: #6EFF97;

$bg-color: $white;

// media query breakpoints

$screen-xl: 1000px;
$screen-l: 800px;
$screen-m: 600px;
$screen-s: 400px;

// nav items

$navLinkAmount: 4;

@import 'fonts';