---
layout: default
title: Work · ROSE Digital ✿
---

<main class="page page-work">
<div class="wrapper">

	<div class="page-desc">

		<h1>Work</h1>

		<p>Here's a some of work and projects!</p>

	</div>

	<ul class="work">
		{% comment %}
		<li class="work-item"><a class="tedx" href="http://tedxuniversityofportsmouth.com">TEDxUniversityofPortsmouth</a></li>
		{% endcomment %}
		<li class="work-item"><a class="uopcs" href="http://uopcs.com/">UoPCS</a></li>

		{% for post in site.posts %}
		{% if post.categories contains 'work' %}
			<li class="work-item"><a class="{{ post.work_title }}" href="{{ post.url }}">{{ post.work_title }}</a></li>
		{% endif %}
		{% endfor %}

		<li class="work-item"><a class="hackpompey" href="http://hackpompey.co.uk">hackpompey</a></li>
		<li class="work-item"><a class="odl" href="http://odl.rose.digital">Open Device Lab Portsmouth</a></li>
		<li class="work-item"><a class="dandy" href="http://adandydoma.in">Dandydomains</a></li>

	</ul>

</div>
</main>