---
layout: default
title: Work
desc: Here's a some of our projects.
---

<main class="page page-work">
<div class="wrapper">

	<div class="page-desc">

		<h1>Work</h1>

		<p>Here's a some of our projects.</p>

	</div>

	<ul class="work">
		<li class="work-item"><a class="teamlocals" href="http://teamlocals.co.uk">Team Locals</a></li>
		<li class="work-item"><a class="hackpompey" href="http://hackpompey.co.uk">hackpompey</a></li>
    <li class="work-item"><a class="uopcs" href="http://uopcs.com/">UoPCS</a></li>

		{% for post in site.posts %}
		{% if post.category contains 'work' %}
			<li class="work-item"><a class="{{ post.work_title }}" href="{{ post.url }}">{{ post.work_title }}</a></li>
		{% endif %}
		{% endfor %}

		<li class="work-item"><a class="dandy" href="http://domains.zaccolley.com/">Dandydomains</a></li>

	</ul>

</div>
</main>
