<!doctype html>
<!-- 
	ROSE Digital

	Oh hello, what you doing here?..

	If you find anything broken, please go post an issue: http://github.com/rosedigital/website/issues :¬)
-->
<html lang="en">
<head>
	<!--[if lt IE 9]>
		<script src="{{ root_url }}/js/html5shiv.js"></script>
		<script src="{{ root_url }}/js/selectivizr.js"></script>
	<![endif]-->

	{% comment %} Set the meta tag description based on the content {% endcomment %}

	{% assign meta_desc = site.desc %}

	{% if page.excerpt %}
		{% assign meta_desc = page.excerpt | remove: '<p>' | remove: '</p>' | strip_html | replace: '&nbsp;', ' ' | truncate: 250 %}
	{% elsif page.desc %}
		{% assign meta_desc = page.desc %}
	{% endif %}

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	<meta name="description" content="{{ meta_desc }}">
	
	{% comment %} Set the title based on the content {% endcomment %}

	{% assign page_title = site.name %}

	{% if page.title %}

		{% if page.category contains 'blog' %}
			{% capture page_title %}{{ page.title }} · Blog · {{ site.name }} ✏{% endcapture %}
		{% elsif page.category contains 'work' %}
			{% capture page_title %}{{ page.title }} · Work · {{ site.name }} ✏{% endcapture %}
		{% else %}
			{% capture page_title %}{{ page.title }} · {{ site.name }} ✿{% endcapture %}
		{% endif %}

	{% endif %}

	<title>{{ page_title }}</title>

	<!-- Google Fonts -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans:300,300italic,400,400italic,500,500italic,600,600italic%7CAnonymous+Pro">
	
	<!-- Our styles -->
	<link rel="stylesheet" href="{{ root_url }}/css/style.min.css">

	<!-- Icons -->

	<link rel="shortcut icon" href="{{ root_url }}/img/favicon.ico" type="image/x-icon" />
	<link rel="image_src" href="{{ root_url }}/img/default-social.png">

	<!-- Open Graph (Facebook) -->

	<meta property="og:title" content="{{ page.title }}" />
	<meta property="og:url" content="{{ site.url }}" />
	{% if page.excerpt %}
	<meta property="og:description" content="{{ page.excerpt | remove: '<p>' | remove: '</p>' | strip_html | replace: '&nbsp;', ' ' | truncate: 250 }}" />
	{% else %}
	<meta property="og:description" content="{{ site.desc }}" />
	{% endif %}
	<meta property="og:image" content="{{ root_url }}/img/default-social.png" />

	<!-- Twitter -->

	<meta property="twitter:account_id" content="4503599629765060">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@rosedgtl">
	<meta name="twitter:title" content="{{ page.title }}">
	<meta name="twitter:url" content="{{ site.url }}">
	<meta name="twitter:description" content="{{ meta_desc }}">
	<meta name="twitter:image" content="{{ root_url }}/img/default-social.png">

	<!-- RSS -->

	<link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.name }} ({{ site.url }})" href="{{ root_url }}/rss.xml" />

</head>
<body>

	{% include header.html %}

	{{ content }}

	{% include footer.html %}

	{% include scripts.html %}

</body>
</html>
