---
layout: default
---

<main class="blog">

<article>
	
	<section class="top">
	<div class="wrapper">
		
		{% assign author = site.data.authors[page.author] %}
		
		<h1 class="title">{{ page.title }}</h1>
		<h2 class="meta">
			Posted on <time datetime="{{ page.date | date: '%Y-%m-%dT%TZ' }}" title="{{ page.date | date: '%x %X' }}">{{ page.date | date: "%B %d, %Y" }}</time> by <a href="{{ root_url}}/about/#{{ author.display_name }}" class="author">{{ author.display_name }}</a>
		</h2>
		
	</div>
	</section>

	<section class="post">
	<div class="wrapper">
		<article>
		{{ content }}
		</article>
	</div>
	</section>

	<section class="notes">
	<div class="wrapper">

		<a href="{{ root_url}}/about/#{{ author.display_name }}" class="author">
			<h1>{{ author.display_name }}</h1>
		</a>
		
		{% if author.bio %}<p>{{ author.bio }}</p>{% endif %}

	</div>
	</section>

</article>

<a class="interest" href="{{ root_url }}/contact">Interested in collaborating with us?</a>

</main>
