---
layout: default
---

<main class="blog">

<article>
	
	<div class="wrapper">
		<h1 class="title">{{ page.title }}</h1>
		<h2 class="meta">{{ page.date | date_to_string }}</h2>
		
		<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, quidem, assumenda, ullam fugiat hic voluptatem quos quia at perferendis dolor repellendus soluta aliquam consectetur ipsam ex ipsum veritatis. Suscipit, consectetur.</p>

		<div class="post">
			{{ content }}
		</div>
	</div>

</article>

</main>
